/* Основные стили для контейнера аутентификации */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Стили для формы */
.auth-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Стили для заголовка формы */
.auth-form h2 {
    margin-bottom: 20px;
}

/* Стили для элементов формы */
.auth-form label {
    display: block;
    margin-bottom: 10px;
}

.auth-form input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Стили для переключения между регистрацией и входом */
.auth-switch {
    margin-top: 20px;
    text-align: center;
}

.auth-switch button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
}


/* Стили для сообщения об ошибке */
.auth-error {
    color: red;
    margin-top: 10px;
    text-align: center;
}
